In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import GridSearchCV, cross_val_score, train_test_split
from sklearn.preprocessing import StandardScaler
import xgboost as xgb
from google.colab import drive
from sklearn.model_selection import RandomizedSearchCV
drive.mount('/content/drive')
df = pd.read_excel(r'/content/drive/My Drive/datasetpr.xls')
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

   Ws_1  Ws_2    Hs    Tp  WDir_1  WDir_2
0  3.12  3.71  0.04  2.61    43.8    63.3
1  3.71  5.38  0.30  2.09    63.3    83.2
2  5.38  4.04  0.28  2.82    83.2    82.1
3  4.04  3.68  0.22  2.51    82.1    80.9
4  3.68  4.96  0.39  3.37    80.9    76.9

In [ ]:
X1=df.loc[2000:10000, ['Ws_1', 'Ws_2']].values
X2=df.loc[2000:10000, ['WDir_1', 'WDir_2']].values
y=df.loc[2000:10000,['Hs']].values.ravel()

scaler1 = StandardScaler().fit(X1)
X1 = scaler1.transform(X1)
scaler2 = StandardScaler().fit(X2)
X2 = scaler2.transform(X2)
X= np.hstack((X1, X2))
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
xgb_model = xgb.XGBRegressor(objective='reg:squarederror')

parameters = {
    'n_estimators': [1500],
    'max_depth': [ 4, 5, 10],
    'learning_rate': [0.01],
    'subsample': [0.4, 0.5, 0.6],
    'colsample_bytree': [ 0.7, 0.8, 0.9],
}

grid_search = GridSearchCV(estimator=xgb_model, param_grid=parameters, scoring='r2', cv=2)
grid_search.fit(X_train, y_train)

print("Best parameters found: ", grid_search.best_params_)
print("Best score: ", grid_search.best_score_)

best_xgb_model = grid_search.best_estimator_
best_xgb_model.fit(X_train, y_train)
best_xgb_model.score(X_test, y_test)

Best parameters found:  {'colsample_bytree': 0.8, 'learning_rate': 0.01, 'max_depth': 5, 'n_estimators': 1500, 'subsample': 0.5}
Best score:  0.9850921902482945

0.9836532683550457